/* General */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: "Georgia", serif; /* Fuente elegante y cl치sica */
    text-align: center;
    overflow: hidden;
}

/* T칤tulo principal */
h1 {
    font: oblique bold 135% "Georgia", serif;
    color: #382916be; /* Burdeos */
    font-size: 2.5rem;
    margin-bottom: 10px;
}

/* Subt칤tulo */
h2 {
    font-weight: bold; /* En negrita */
    font-size: 1.3rem;
    color: #3c291d; /* Marr칩n */
}

h3 {
    font-weight: bolt; /* En negrita */
    font-size: 1.1rem;
    color: #533a19c7; /* Marr칩n */
}

/* Texto de instrucci칩n */
p {
    font-weight: normal; /* Sin negrita */
    font-size: 1rem; /* M치s peque침o */
    color: rgb(118, 72, 40);
    white-space: nowrap; /* En una sola l칤nea */
}

/* Contenedor del giradiscos */
.turntable {
    position: relative;
    width: 60vw;
    max-width: 300px;
    height: 60vw;
    max-height: 300px;
    background: gray;
    background-image: url("assets/vinilo-hardware.png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

body {
    background-image: url("assets/fondogram1.jpg"); /* Aseg칰rate de que la imagen est칠 en la ruta correcta */
    background-size: cover; /* Hace que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}


/* Disco de vinilo */
.disc {
    position: absolute;
    width: 70%;
    height: 70%;
    max-width: 250px;
    max-height: 250px;
    background: black;
    background-image: url("assets/vinilo-maybe.png");
    background-size: cover;
    border-radius: 50%;
    transition: transform 0.1s;
    left: -10%;
}

/* Aguja del gram칩fono */
.needle {
    position: absolute;
    top: 20%;
    left: 70%;
    width: 100%;
    height: 50%;
    max-width: 80px;
    max-height: 150px;
    background: transparent;
    background-image: url("assets/vinilo-needle.png");
    background-size: cover;
    background-position: center;
    transform-origin: top;
    transition: transform 0.1s ease;
    cursor: grab;
}

/* 游님 Estilo para m칩viles (4:3 vertical) */
@media (max-width: 600px) {
    .turntable {
        width: 80vw;
        height: 80vw;
    }

    .disc {
        width: 75%;
        height: 75%;
    }

    .needle {
        width: 100%;
        height: 50%;
        top: 20%;
        left: 70%;
    }

    h1 { font-size: 2.3rem; }
    h2 { font-size: 1rem; }
    h3 {font-size: 0.2rem;}
    p { font-size: 0.8rem; } /* A칰n m치s peque침o en m칩viles */
}
